$color-black-1 :#1D1C21;
$color-red :#FD0000;
$color-black-2: #151715;
$color-grey :#89898B;
$color-lightgrey : #CECECE;
$color-hover : #FF0E0E;
$color-text: #F6F6F6;
$color-text2: #ffffff;
$border-color: #D8D8D9;
$color-placeholder:#36353D;
$location-color:#c4c4c4;
