section{
    .our-accomplishments{
        background-image: url(../images/awards.png);;
        max-width: 1440px;
        margin: 0 auto;
        height: 100%;
        .our-accomplishments_context{
            max-width: 1131px;
            height: 100%;
            margin: auto;
            padding-top: 150px;
            padding-bottom: 150px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            // justify-items: center;
            .our-accomplishments_context_award{
                display: grid;
                grid-template-columns: 0.7fr 2fr;

                .our-accomplishments_context_award_text{
                     color: $color-black-1;
                     max-width: 212px;
                    h3{
                        font-style: normal;
                        font-weight: 900;
                        font-size: 24px;
                        line-height: 32px;
                        letter-spacing: 0.01em;
                        text-transform: uppercase;
                        font-family: 'Playfair Display SC';
                        padding-bottom: 10px;
                    }
                    span{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 18px;
                        letter-spacing: 0.01em;
                        margin-bottom: 10px;
                        &:nth-of-type(2){
                            color: $color-hover;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}